#acoes-sociais {
    .par-1 {
        padding: 0;
        margin-bottom: 100px;
    }

    .box-1 {
        margin-bottom: 100px;
    }

    .block-text {
        align-items: center;
        margin-bottom: 80px;

        &:last-child {
            margin-bottom: 0;
        }

        .column-text {
            display: flex;
            flex-direction: column;
            gap: 50px 0;

            h2 {
                line-height: 1;
            }

            p strong {
                color: #cb171e;
                border-bottom: solid 1px #cb171e;
            }
        }
    }

    .box-2 {
        position: relative;
        padding-top: 120px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 420px;
            background-image: -moz-linear-gradient(10deg, rgb(135, 16, 22) 0%, rgb(195, 39, 52) 31%, rgb(254, 62, 82) 100%);
            background-image: -webkit-linear-gradient(10deg, rgb(135, 16, 22) 0%, rgb(195, 39, 52) 31%, rgb(254, 62, 82) 100%);
            background-image: -ms-linear-gradient(10deg, rgb(135, 16, 22) 0%, rgb(195, 39, 52) 31%, rgb(254, 62, 82) 100%);
        }

        >.container {
            position: relative;
            z-index: 2;
            margin-bottom: 90px;
        }

        h2 {
            color: #fff;
            margin-bottom: 20px;
        }

        .par-1 {
            color: #fff;
        }
    }

    .column-list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .box-3 {
        margin-bottom: 80px;
    }
}