#produto {
    #main-footer {
        margin-top: 100px;
    }

    .wrapper-title {
        height: 86px;
    }

    #thumb {
        float: left;
        margin-right: 25px;

        .slick-slide {
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border: solid 1px #cfcfcf;
            margin-bottom: 10px;

            img {
                width: 26px;
            }
        }
    }

    #photo {
        overflow: hidden;
        padding: 0 35px;

        .slick-slide {
            justify-content: center;
            align-items: center;
            height: 420px;
            border: solid 1px #cfcfcf;
        }

        .slick-arrow {
            position: absolute;
            top: 0;
            width: 35px;
            height: 100%;
            background: transparent;
            z-index: 9;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }

    .column-info {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    .product-info {
        position: relative;
        flex: 1;
        padding: 45px;
        border: solid 1px #cfcfcf;
    }

    .product-cod {
        line-height: 1;
        font-weight: 300;
        margin-bottom: 15px;

        strong {
            font-weight: 600;
        }
    }

    .product-name {
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 75px;
    }

    .product-actions {
        position: absolute;
        top: 35px;
        right: 35px;
        display: flex;

        li a {
            display: flex;
            width: 40px;
            height: 40px;
            font-size: 0;

            &.favoritar {
                background: url(../like.gif) center center no-repeat;
            }

            &.compartilhar {
                background: url(../share.gif) center center no-repeat;
            }
        }
    }

    #form-add-product {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        legend {
            width: 100%;
            line-height: 1;
            font-weight: 300;
        }

        .qnt-wrapper {
            display: flex;
            width: 160px;
            border: solid 1px #cfcfcf;
            border-radius: 6px;
            overflow: hidden;

            input {
                width: 70px;
                font-weight: 300;
                text-align: center;
                text-align-last: center;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 44px;
                height: 44px;
                font-size: 0;
                background: transparent;

                &:before {
                    font: 400 15px/1 'fontello';
                }

                &.add:before {
                    content: '\e80c';
                }

                &.rem:before {
                    content: '\e80d';
                }
            }
        }

        .add button {
            display: flex;
            width: 52px;
            height: 46px;
            font-size: 0;
            background: #35a673 url(../add-cart.gif) center center no-repeat;
            border-radius: 6px;
        }
    }

    .product-share-links {
        display: flex;
        gap: 0 5px;

        li a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            font-size: 0;
            line-height: 1;
            color: #fff;

            &:before {
                font-family: 'fontello';
                font-size: 20px;
            }

            &[title="Facebook"] {
                background: #3b5998;

                &:before {
                    content: '\e803';
                }
            }

            &[title="Linkedin"] {
                background: #007fb1;

                &:before {
                    content: '\e804';
                }
            }

            &[title="Twitter"] {
                background: #00aced;

                &:before {
                    content: '\f099';
                }
            }

            &[title="Whatsapp"] {
                background: #25d366;

                &:before {
                    content: '\f232';
                }
            }

            &[title="Telegram"] {
                background: #37aee2;

                &:before {
                    content: '\e80b';
                }
            }
        }
    }

    .nav-tabs {
        display: flex;
        gap: 0 35px;
        border-bottom: solid 1px #cfcfcf;

        li {
            margin-bottom: -1px;

            a {
                display: flex;
                flex-direction: column;
                height: 32px;
                font-size: 18px;
                line-height: 1;
                text-align: center;
                text-transform: uppercase;

                &:before {
                    content: attr(title);
                    font-weight: 500;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }

            &.active a {
                color: #d11820;
                font-weight: 500;
                border-bottom: solid 2px #d11820;
            }
        }
    }

    .tab-content .tab-pane {
        display: none;
        padding: 30px 0;

        &.active {
            display: block;
        }
    }
}

@media (min-width: 576px) {
    #produto .wrapper-title {
        height: 86px;
    }
}

.bel-quimica .wrapper-title:before {
    background-image: -moz-linear-gradient(0deg, rgb(56, 95, 128) 0%, rgb(26, 50, 70) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(56, 95, 128) 0%, rgb(26, 50, 70) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(56, 95, 128) 0%, rgb(26, 50, 70) 70%);
}

.bel-profund .wrapper-title:before {
    background-image: -moz-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
}

.bel-lar .wrapper-title:before {
    background-image: -moz-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
}