#seja-fornecedor {
    .block-text {
        margin-bottom: 60px;

        p {
            margin-bottom: 1.625em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .column-form h3 {
        line-height: 1;
        margin-bottom: 40px;
    }
}