#acoes-ambientais .box-1 {
    margin-bottom: 100px;
}

#acoes-ambientais .box-1 .column-text h2 {
    margin-bottom: 50px;
}


#acoes-ambientais .box-1 .column-text p {
    margin-bottom: 1.625em;
}

#acoes-ambientais .box-1 .column-text p:last-child {
    margin-bottom: 0;
}

#acoes-ambientais .box-2 {
    margin-bottom: 140px;
}

#acoes-ambientais .box-3 {
    margin-bottom: 150px;
}

#acoes-ambientais .box-3 h2 {
    margin-bottom: 70px;
}

#acoes-ambientais .box-3 .item:nth-child(1) p {
    background: #96ae4f;
}

#acoes-ambientais .box-3 .item:nth-child(2) p {
    background: #81983d;
}

#acoes-ambientais .box-3 .item:nth-child(3) p {
    background: #708436;
}

#acoes-ambientais .box-3 .item:nth-child(4) p {
    background: #566921;
}

#acoes-ambientais .box-3 .item p {
    height: 100%;
    padding: 50px 35px;
    color: #fff;
    border-radius: 20px;
}

#acoes-ambientais .box-4 {
    margin-bottom: 100px;
}

#acoes-ambientais #accordion .panel-body {
    padding: 50px;
}

#acoes-ambientais #accordion .column-text {
    padding-top: 20px;
}