#esg .par-1 {
    text-align: center;
    margin: 0 auto 90px;
}

#esg .base {
    position: relative;
    padding-top: 160px;
}

#esg .base:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border-radius: 200px;
    background-image: -moz-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 22%, rgb(68, 101, 51) 50%);
    background-image: -webkit-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 22%, rgb(68, 101, 51) 50%);
    background-image: -ms-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 22%, rgb(68, 101, 51) 50%);
    z-index: 1;
}

#esg .base:after {
    content: '';
    position: absolute;
    top: 50px;
    left: 75px;
    width: 320px;
    height: 315px;
    background: url(../esg.png) 0 0 no-repeat;
    z-index: 2;
}

#esg .base ul {
    position: relative;
    z-index: 2;
}

#esg .base ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);
}

#esg .base ul li:last-child {
    margin-bottom: 0;
}

#esg .base ul li [class*="btn-"] {
    width: 250px;
}

.esg-list {
    gap: 30px 0;
}

.esg-list li {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.esg-list li:before {
    content: '\e808';
    font-family: 'fontello';
    font-size: 10px;
    line-height: 1;
    color: #cb171e;
}

.esg-actions>.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 175px;
}

.esg-actions>.container:before {
    content: '';
    position: relative;
    margin-top: 30px;
    width: 190px;
    height: 190px;
    background: url(../esg.png) 0 0 no-repeat;
    background-size: 100%;
    z-index: 2;
}

.esg-actions>.container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    height: 240px;
    border-radius: 120px;
    background-image: -moz-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 24%, rgb(68, 101, 51) 59%);
    background-image: -webkit-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 24%, rgb(68, 101, 51) 59%);
    background-image: -ms-linear-gradient(90deg, rgb(149, 202, 62) 0%, rgb(109, 152, 57) 24%, rgb(68, 101, 51) 59%);
    z-index: 1;
}

.esg-actions h2 {
    width: 100%;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.esg-actions .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    width: 770px;
    z-index: 2;
}

.esg-actions .action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);
}

#acoes-de-governanca .box-1 {
    margin-bottom: 130px;
}

#acoes-de-governanca .box-1 .line {
    align-items: center;
}

#acoes-de-governanca .box-1 .par-1 {
    margin-bottom: 60px;
}

#acoes-de-governanca .box-1 .esg-list li {
    margin-bottom: 30px;
}

#acoes-de-governanca .box-1 .esg-list li:last-child {
    margin-bottom: 0;
}

#acoes-de-governanca .box-2 {
    margin-bottom: 60px;
}

#acoes-de-governanca .box-2>.container {
    padding-top: 120px;
    padding-bottom: 60px;
    background: #eee;
    border-radius: 20px;
}

#acoes-de-governanca .box-2 .line-1 {
    padding-bottom: 80px;
    border-bottom: solid 2px #d0d0d0;
    margin-bottom: 80px;
}

#acoes-de-governanca .box-2 .line-1 .column-text h2 {
    margin-bottom: 60px;
}

#acoes-de-governanca .box-2 .line-1 .column-text p {
    margin-bottom: 1.625em;
}

#acoes-de-governanca .box-2 .line-1 .column-text p:last-child {
    margin-bottom: 0;
}

#acoes-de-governanca .box-2 .line-1 .column-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px 0;
}

#acoes-de-governanca .box-2 .line-2 .line-title {
    line-height: 1;
    color: #c9161e;
    margin-bottom: 30px;
}

#acoes-de-governanca .box-2 .line-2 .par-1 {
    margin-bottom: 40px;
}

#acoes-de-governanca .box-3 {
    margin-bottom: 90px;
}

#acoes-de-governanca .box-3 .block {
    height: 100%;
    padding: 80px 70px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);
}

#acoes-de-governanca .box-3 .block h2 {
    margin-bottom: 60px;
}

#acoes-de-governanca .box-3 .block p {
    margin-bottom: 100px;
}

#acoes-de-governanca .box-3 .block .block-button {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#acoes-sociais .par-1 {
    padding: 0;
    margin-bottom: 100px;
}

#acoes-sociais .box-1 {
    margin-bottom: 100px;
}

#acoes-sociais .box-2 {
    margin-bottom: 90px;
}

#acoes-sociais .column-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);
    margin-bottom: 20px;
}

#acoes-sociais .column-list li:last-child {
    margin-bottom: 0;
}

#acoes-sociais .box-3 {
    margin-bottom: 80px;
}

#acoes-ambientais .box-1 {
    margin-bottom: 100px;
}

#acoes-ambientais .box-1 .column-text h2 {
    margin-bottom: 50px;
}


#acoes-ambientais .box-1 .column-text p {
    margin-bottom: 1.625em;
}

#acoes-ambientais .box-1 .column-text p:last-child {
    margin-bottom: 0;
}

#acoes-ambientais .box-2 {
    margin-bottom: 140px;
}

#acoes-ambientais .box-3 {
    margin-bottom: 150px;
}

#acoes-ambientais .box-3 h2 {
    margin-bottom: 70px;
}

#acoes-ambientais .box-3 .item:nth-child(1) p {
    background: #96ae4f;
}

#acoes-ambientais .box-3 .item:nth-child(2) p {
    background: #81983d;
}

#acoes-ambientais .box-3 .item:nth-child(3) p {
    background: #708436;
}

#acoes-ambientais .box-3 .item:nth-child(4) p {
    background: #566921;
}

#acoes-ambientais .box-3 .item p {
    height: 100%;
    padding: 50px 35px;
    color: #fff;
    border-radius: 20px;
}

#acoes-ambientais .box-4 {
    margin-bottom: 100px;
}

#acoes-ambientais #accordion .panel-body {
    padding: 50px;
}

#acoes-ambientais #accordion .column-text {
    padding-top: 20px;
}