#tecnologia-e-inovacao .box-1 {
    margin-bottom: 120px;
}

#tecnologia-e-inovacao .box-lg-gradient {
    padding-top: 100px;
}

#tecnologia-e-inovacao .box-lg-gradient .line-text {
    margin-bottom: 70px;
}