#quem-somos .box-1 {
    margin-bottom: 80px;
}

#quem-somos .box-1 .column-text h2 {
    margin-bottom: 70px;
}

#quem-somos .box-1 .column-text p {
    margin-bottom: 1.625em;
}

#quem-somos .box-1 .column-text p:last-child {
    margin-bottom: 0;
}

#quem-somos .box-2 {
    margin-bottom: 120px;

}

#quem-somos .box-2 .video {
    position: relative;
    padding-bottom: 42.2%;
    background: url(../thumb-video.jpg) center center no-repeat;
    background-size: cover;
}

#quem-somos .box-2 .video h2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
    width: 100%;
    height: 100%;
    padding-bottom: 170px;
}

#quem-somos .box-2 .video h2:before {
    content: '';
    width: 80px;
    height: 80px;
    background: #d01820;
    border-radius: 50%;
}

#quem-somos .box-2>.container {
    margin-top: -170px;
}

#quem-somos .box-2 .item {
    height: 100%;
    padding: 60px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 51px 0 rgba(3, 4, 4, 0.08);
}

#quem-somos .box-2 .item h3 {
    line-height: 1;
    color: #ca171e;
    margin-bottom: 40px;
}

#quem-somos .box-2 .item ul li:before {
    content: '•';
    margin-right: 6px;
}

#quem-somos .box-3 {
    margin-bottom: 120px;
}

#quem-somos .box-3 .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 75px;
    background: #eee;
    border-radius: 20px;
}

#quem-somos .box-3 .wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 20px 20px 0 0;
    background: -moz-linear-gradient(left, #fea30b 0%, #fea30b 12.5%, #94c83d 12.5%, #94c83d 25%, #0c6938 25%, #0c6938 37.5%, #0dbbb4 37.5%, #0dbbb4 50%, #00b3e4 50%, #00b3e4 62.5%, #0082a4 62.5%, #0082a4 75%, #243747 75%, #243747 87.5%, #712b63 87.5%, #712b63 100%);
    background: -webkit-linear-gradient(left, #fea30b 0%, #fea30b 12.5%, #94c83d 12.5%, #94c83d 25%, #0c6938 25%, #0c6938 37.5%, #0dbbb4 37.5%, #0dbbb4 50%, #00b3e4 50%, #00b3e4 62.5%, #0082a4 62.5%, #0082a4 75%, #243747 75%, #243747 87.5%, #712b63 87.5%, #712b63 100%);
    background: linear-gradient(to right, #fea30b 0%, #fea30b 12.5%, #94c83d 12.5%, #94c83d 25%, #0c6938 25%, #0c6938 37.5%, #0dbbb4 37.5%, #0dbbb4 50%, #00b3e4 50%, #00b3e4 62.5%, #0082a4 62.5%, #0082a4 75%, #243747 75%, #243747 87.5%, #712b63 87.5%, #712b63 100%);
}

#quem-somos .box-3 .column-text h2 {
    line-height: 1;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    #quem-somos .box-3 .wrapper {
        flex-direction: column;
    }

    #quem-somos .box-3 .column-text {
        margin-bottom: 90px;
    }
}

@media (min-width: 768px) {
    #quem-somos .box-3 .wrapper {
        padding: 90px 50px 60px 50px;
    }

    #quem-somos .box-3 .wrapper:before {
        height: 32px;
    }

    #quem-somos .box-3 .column-text {
        width: 210px;
    }

    #quem-somos .box-3 .column-text h2 {
        margin-bottom: 50px;
    }

    #quem-somos .box-3 .column-timeline {
        width: 1002px;
        height: 670px;
        border: solid 2px #fff;
        background: #fff;
        overflow: auto;
    }
}

@media (min-width: 1400px) {}

#timeline .item {
    position: relative;
    padding: 25px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
    box-shadow: 0 7px 6px 0 rgba(3, 4, 4, .06);
}


#timeline .item h3 {
    line-height: 1;
    color: #ca171e;
    margin-bottom: 20px;
}

#timeline .item h3:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ca171e;
}

@media (max-width: 767px) {
    #quem-somos .box-3 .column-timeline {
        margin: 0 -30px;
        overflow-y: auto;
    }

    #timeline {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: max-content;
        padding: 60px 30px 10px;
        gap: 0 30px;
    }

    #timeline:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 30px;
        right: 30px;
        height: 1px;
        background: #cdcdcd;
    }

    #timeline .item {
        font-size: 1rem;
        width: calc(100vw - 100px);
    }

    #timeline .item:after,
    #timeline .item:before {
        content: "";
        position: absolute;
        bottom: 100%;
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
    }

    #timeline .item:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 13px;
        left: 26px;
    }

    #timeline .item:before {
        border-color: rgba(205, 205, 205, 0);
        border-bottom-color: #cdcdcd;
        border-width: 14px;
        left: 25px;
    }

    #timeline .item h3 {
        font-size: 20px;
    }

    #timeline .item h3:after {
        top: -61px;
        left: 30px;
    }

    #timeline .item p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    #timeline {
        position: relative;
        display: table;
        width: 820px;
        margin: 60px auto;
    }

    #timeline:before {
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        width: 1px;
        height: 2190px;
        background: #cdcdcd;
    }

    #timeline .item {
        width: 43.4%;
        padding: 30px;

    }

    #timeline .item:nth-child(even) {
        float: right;
        clear: right;
    }

    #timeline .item:nth-child(odd) {
        float: left;
        clear: left;
    }

    #timeline .item h3:after {
        top: 25px;
    }

    #timeline .item:nth-child(even) h3:after {
        left: -63px;
    }

    #timeline .item:nth-child(odd) h3:after {
        right: -64px;
    }

    #timeline .item:after,
    #timeline .item:before {
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    #timeline .item:after {
        border-color: rgba(255, 255, 255, 0);
        border-width: 14px;
        top: 20px;
    }

    #timeline .item:before {
        border-color: rgba(205, 205, 205, 0);
        border-width: 15px;
        top: 19px;
    }

    #timeline .item:nth-child(odd):after,
    #timeline .item:nth-child(odd):before {
        left: 100%;
    }

    #timeline .item:nth-child(odd):after {
        border-left-color: #fff;
    }

    #timeline .item:nth-child(odd):before {
        border-left-color: #cdcdcd;
    }

    #timeline .item:nth-child(even):after,
    #timeline .item:nth-child(even):before {
        right: 100%;
    }

    #timeline .item:nth-child(even):after {
        border-right-color: #fff;
    }

    #timeline .item:nth-child(even):before {
        border-right-color: #cdcdcd;
    }

    #ano-1951 {
        margin-top: 150px;
    }

    #ano-1952 {
        margin-top: 60px;
    }

    #ano-1956 {
        margin-top: 40px;
    }

    #ano-1959 {
        margin-top: 70px;
    }

    #ano-1970 {
        margin-top: 80px;
    }

    #ano-1984 {
        margin-top: 180px;
    }

    #ano-1993 {
        margin-top: 40px;
    }

    #ano-2003 {
        margin-top: 90px;
    }

    #ano-2004 {
        margin-top: 170px;
    }

    #ano-2007 {
        margin-top: 50px;
    }

    #ano-2008 {
        margin-top: 90px;
    }

    #ano-2009 {
        margin-top: 210px;
    }

    #ano-2015 {
        margin-top: 40px;
    }

    #ano-2016 {
        margin-top: 60px;
    }

    #ano-2021-1 {
        margin-top: 202px;
    }

    #ano-2021-2 {
        margin-top: 40px;
    }

    #quem-somos .box-4 {
        margin-bottom: 100px;
    }

}


#quem-somos .box-4 .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    padding: 25px;
    border-radius: 400px;
}

#quem-somos .box-4 .column-text {
    width: min-content;
    margin: auto;
    text-align: center;
}

#quem-somos .box-4 .column-text h3 {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    #quem-somos .box-4 .row {
        gap: 50px 0;
    }

    #quem-somos .box-4 .column-image img {
        width: 140px;
    }

    #quem-somos .box-4 [class*="btn-"] {
        width: 150px;
        height: 44px;
    }
}

@media (min-width: 768px) {
    #quem-somos .box-4 .item {
        padding: 35px;
    }
}

#quem-somos .box-4 .column-image img {
    display: block;
    border-radius: 50%;
}

#quem-somos .box-5 h2 {
    width: 260px;
}

#quem-somos .box-5 .column-image img {
    display: block;
    width: 100%;
}

@media (max-width: 767px) {
    #quem-somos .box-5 .red_banner {
        align-items: center;
        gap: 40px 0;
    }

    #quem-somos .box-5 [class*="btn-"] {
        width: 370px;
    }
}

@media (min-width: 768px) {
    #quem-somos .box-5 .red_banner {
        justify-content: space-between;
        align-items: center;
        padding-right: 135px;
        padding-left: 175px;
    }

    #quem-somos .box-5 .column-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    #quem-somos .box-5 [class*="btn-"] {
        padding: 0 30px;
    }
}

/* Tecnologfia e Inovação */
#tecnologia-e-inovacao .box-1 {
    margin-bottom: 120px;
}

#tecnologia-e-inovacao .box-lg-gradient {
    padding-top: 100px;
}

#tecnologia-e-inovacao .box-lg-gradient .line-text {
    margin-bottom: 70px;
}

#tecnologia-e-inovacao .box-2 .column-image img {
    display: block;
    width: 100%;
    border-radius: 1000px;
}

/* Reconhecimentos e Certificações */
#reconhecimentos-e-certificacoes .box-1 {
    margin-bottom: 110px;
}

#reconhecimentos-e-certificacoes .box-1 .column-text {
    flex-direction: row;
    align-items: center;
    gap: 0;
}

#reconhecimentos-e-certificacoes .box-2 {
    margin-bottom: 130px;
}

#reconhecimentos-e-certificacoes .box-2>.container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 0 130px;
    height: 290px;
}

#reconhecimentos-e-certificacoes .box-2>.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 290px;
    background-color: #727272;
    border-radius: 20px;
}

#reconhecimentos-e-certificacoes .box-2 .column-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41.66666667%;
}

#reconhecimentos-e-certificacoes .box-2 .column-text p {
    color: #fff;
    margin-bottom: 1.625em;
}

#reconhecimentos-e-certificacoes .box-2 .column-text p:last-child {
    margin-bottom: 0;
}

#reconhecimentos-e-certificacoes .box-2 .column-image {
    position: relative;
    display: flex;
    align-items: center;
    width: 490px;
}

#reconhecimentos-e-certificacoes .box-2 .column-image .mulher {
    position: absolute;
    bottom: 0;
    right: 0;
}

#reconhecimentos-e-certificacoes .box-3 {
    padding-top: 70px;
    margin-bottom: 100px;
}

#reconhecimentos-e-certificacoes .box-3:before {
    height: 450px;
}

#reconhecimentos-e-certificacoes .box-3 .prodir-list {
    display: flex;
    gap: 30px;
}

#reconhecimentos-e-certificacoes .box-3 .line {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

#reconhecimentos-e-certificacoes .box-3 .column-image {
    position: relative;
    margin-right: 60px;
}

#reconhecimentos-e-certificacoes .box-3 .column-image img {
    display: block;
    width: 210px;
}

#reconhecimentos-e-certificacoes .box-3 .prodir-list li {
    flex: 1;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);

}

#reconhecimentos-e-certificacoes .box-3 .prodir-list li:before {
    content: '\e808';
    display: block;
    font-family: 'fontello';
    font-size: 12px;
    line-height: 1;
    color: #c9161e;
    margin-bottom: 25px;
}

#reconhecimentos-e-certificacoes .box-4 {
    margin-bottom: 140px;
}

#reconhecimentos-e-certificacoes .box-4 .line {
    align-items: center;
    background: #eee;
    margin: 0;
    overflow: hidden;
    border-radius: 20px;
}

#reconhecimentos-e-certificacoes .box-4 .column-image {
    padding: 0;
}

#reconhecimentos-e-certificacoes .box-4 .column-image img {
    display: block;
    width: calc(100% - 30px);
}

#reconhecimentos-e-certificacoes .box-4 .column-text {
    padding-left: 0;
}

#reconhecimentos-e-certificacoes .box-5 .item {
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 51px 0px rgba(3, 4, 4, 0.08);

    overflow: hidden;
}

#reconhecimentos-e-certificacoes .box-5 .item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
}

#reconhecimentos-e-certificacoes .box-5 .item p {
    padding: 60px;
}

#reconhecimentos-e-certificacoes .box-5 .halal figure {
    background: #5da552;
}

#reconhecimentos-e-certificacoes .box-5 .kosher figure {
    background: #000;
}

#reconhecimentos-e-certificacoes .box-5 .fssc figure {
    background: #1c865a;
}