#page-marcas .big-title .column-text .logo img {
    display: block;
}

@media (max-width: 767px) {
    #page-marcas .big-title {
        padding-top: 90px;
        margin-bottom: 180px;
    }

    #page-marcas .big-title .column-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px 0;
        margin-bottom: 40px;
    }

    #page-marcas .big-title .column-image {
        margin-bottom: -100px;
    }
}

@media (min-width: 768px) {
    #page-marcas .big-title .column-text {
        display: flex;
        flex-direction: column;
        gap: 60px 0;
        padding-top: 25px;
    }
}

#page-marcas .box-product {
    margin-bottom: 40px;
}

#page-marcas .box-title {
    margin-bottom: 60px;
}

#page-marcas .widget {
    padding: 35px 20px;
    border: solid 1px #cfcfcf;
    margin-bottom: 20px;
}

#page-marcas .widget:last-child {
    margin-bottom: 0;
}

#page-marcas .widget-title {
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#page-marcas .widget-segments ul li {
    line-height: 1;
}

#page-marcas .widget-segments ul li a {
    display: flex;
    align-items: center;
    height: 2.35em;
}

.widget-search form input {
    display: flex;
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border: solid 1px #cfcfcf;
    border-radius: 5px;
    font-size: 15px;
}

#page-marcas .grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 15px;
    background: #f5f5f5;
    margin-bottom: 15px;
}

#page-marcas .proucts-amount {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1;
}

#page-marcas .proucts-amount:before {
    content: '';
    width: 24px;
    height: 23px;
    margin-right: 16px;
    background: url(assets/Untitled-1.gif);
}

#page-marcas .proucts-amount strong {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

#page-marcas .display-act {
    display: flex;
    align-items: center;
}

#page-marcas .display-act span {
    margin-right: 20px;
}

#page-marcas .display-act button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
}

#page-marcas #grid-products {
    display: grid;
    gap: 16px 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}

#page-marcas #grid-products .iiteem {
    display: flex;
    flex-direction: column;
    height: 260px;
    padding: 15px;
    padding-bottom: 40px;
    border: solid 1px #cfcfcf;
}

#page-marcas .product-brnad img {
    display: block;
}

#page-marcas .product-name {
    text-transform: uppercase;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 767px) {
    #page-marcas .product-name {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #page-marcas #grid-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #page-marcas #grid-products .iiteem {
        height: 300px;
        padding: 20px;
        padding-bottom: 50px;
    }
}

#page-marcas .parceiros {
    border-top: solid 1px #cfcfcf;
    padding-top: 40px;
}

#page-marcas .parceiros h4 {
    line-height: 1;
}


@media (max-width: 767px) {
    #page-marcas .parceiros {
        flex-direction: column;
    }

    #page-marcas .parceiros h4 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    #page-marcas .parceiros .slick-list {
        margin-bottom: 60px;
    }

    #page-marcas .parceiros .slick-slide {
        justify-content: center;
        align-items: center;
    }

    #page-marcas .parceiros .slick-dots {
        display: flex;
        justify-content: center;
        gap: 0 20px;
    }

    #page-marcas .parceiros .slick-dots li {
        padding: 10px;
    }

    #page-marcas .parceiros .slick-dots li button {
        display: flex;
        width: 14px;
        height: 14px;
        font-size: 0;
        border-radius: 50%;
        background: #6b6b6b;
    }

    #page-marcas .parceiros .slick-dots li.slick-active button {
        background: #4d4d4d;
    }
}

@media (min-width: 768px) {

    #page-marcas .parceiros {
        display: flex;
        align-items: center;
        gap: 0 120px;
    }

    #page-marcas .parceiros ul {
        display: flex;
        align-items: center;
        gap: 0 80px;
    }
}

.bel-quimica .big-title:before {
    background-image: -moz-linear-gradient(-50deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
    background-image: -webkit-linear-gradient(-50deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
    background-image: -ms-linear-gradient(-50deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
}

.bel-quimica .Rectangle_8 {
    background-image: -moz-linear-gradient(0deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(57, 97, 129) 0%, rgb(26, 50, 70) 70%);
}

.bel-profund .big-title:before {
    background-image: -moz-linear-gradient(-50deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -webkit-linear-gradient(-50deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -ms-linear-gradient(-50deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
}

.bel-profund .Rectangle_8 {
    background-image: -moz-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(254, 132, 11) 0%, rgb(254, 156, 11) 70%);
}

.bel-lar .big-title:before {
    background-image: -moz-linear-gradient(-50deg, rgb(10, 148, 141) 0%, rgb(13, 187, 180) 70%);
    background-image: -webkit-linear-gradient(-50deg, rgb(10, 148, 141) 0%, rgb(13, 187, 180) 70%);
    background-image: -ms-linear-gradient(-50deg, rgb(10, 148, 141) 0%, rgb(13, 187, 180) 70%);
}

.bel-lar .Rectangle_8 {
    gap: 0 90px;
    background-image: -moz-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
    background-image: -webkit-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
    background-image: -ms-linear-gradient(0deg, rgb(10, 149, 142) 0%, rgb(13, 187, 180) 70%);
}

#page-marcas .Rectangle_8 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 58px;
    margin-bottom: 60px;
}

#page-marcas .Rectangle_8 .zzzaaayyy {
    display: flex;
}

@media (max-width: 410px) {
    #page-marcas .Rectangle_8 .zzzaaayyy {
        flex-direction: column-reverse;
        gap: 40px 0;
    }

    #page-marcas .Rectangle_8 .zzzaaayyy img {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    #page-marcas .Rectangle_8 {
        flex-direction: column;
        padding: 50px 30px;
        text-align: center;
        gap: 30px 0;
    }

    #page-marcas .Rectangle_8 .zzzaaayyy {
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    #page-marcas.bel-lar .Rectangle_8 .sadabel {
        margin-top: -100px;
    }
}

@media (min-width: 768px) {
    #page-marcas .Rectangle_8 {
        height: 116px;
    }
}

.bel-lar .btn-three {
    width: 250px;
}

.bel-lar .btn-three:hover {
    background: #fff;
    color: #0dbbb4;
}