
.icon-person:before { content: '\e800'; } /* '' */
.icon-cart:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-youtube-play:before { content: '\e806'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-telegram:before { content: '\e80b'; } /* '' */
.icon-plus-fat:before { content: '\e80c'; } /* '' */
.icon-minus-fat:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
